@model mvccore.Models.AudioLectures


@{
    ViewBag.Title = "Edit Lecture";
}

<form enctype="multipart/form-data" asp-controller="home" 
    asp-action="EditLecture" method="post" class="mt-3">

    <input hidden asp-for="ID" />

    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <h1>ID: @Model.ID</h1>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Class" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Class" class="form-control" placeholder="Class">
            <span asp-validation-for="Class" class="text-danger"></span>
        </div>
    </div>
    

    <div class="form-group row">
        <label asp-for="Topic" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Topic" class="form-control" placeholder="Topic">
            <span asp-validation-for="Topic" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group row">
        <label asp-for="Title" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Book" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Book" class="form-control" placeholder="Book">
            <span asp-validation-for="Book" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Chapter" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Chapter" class="form-control" placeholder="Chapter">
            <span asp-validation-for="Chapter" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Verse" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Verse" class="form-control" placeholder="Verse">
            <span asp-validation-for="Verse" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Date" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Date" class="form-control" placeholder="Date">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Comment" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea asp-for="Comment" rows="5" class="form-control" placeholder="Comment"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Hyperlink" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Hyperlink" class="form-control" placeholder="Audio Link">
            <span asp-validation-for="Hyperlink" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="VideoLink" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VideoLink" class="form-control" placeholder="Video Link">
            <span asp-validation-for="VideoLink" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="LogicalOrder" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="LogicalOrder" class="form-control" placeholder="Logical Order">
            <span asp-validation-for="LogicalOrder" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="test-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Update</button>
            <a asp-controller="home" asp-action="about" 
                class="btn btn-primary">Cancel</a>
        </div>
    </div>

</form>
