@model mvccore.Models.Downloads

<div class="container">
    <h1>Downloads Maintenance</h1>
    <div class="mt-4" ng-controller="drop" data-ng-init="init_downloads('@ViewBag.course')">
        <div class="row">
            <div class="dropdown col-md-3">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Choose Subject
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="init_downloads('context')">Context of the Bible</a></li>
                    <li><a href="#" ng-click="init_downloads('2')">Philosophy 1</a></li>
                    <li><a href="#" ng-click="init_downloads('3')">Philosophy 2</a></li>
                    <li><a href="#" ng-click="init_downloads('4')">Church History</a></li>
                    <li><a href="#" ng-click="init_downloads('greek')">Greek</a></li>
                    <li><a href="#" ng-click="init_downloads('6')">Easy Greek</a></li>
                    <li><a href="#" ng-click="init_downloads('all')">All</a></li>
                </ul>
            </div>
            <div class="col-md-3" ng-show="ch1">
                <div>
                    <h2>{{choice1}}</h2>
                </div>
            </div>
        </div>

        <div class="table table-responsive col-md-12 mt-4" ng-show="display">
            <table>
                <tr>
                    <th>Id</th>
                    <th>Course</th>
                    <th>Unit</th>
                    <th>Lesson</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Link</th>
                    <th>

                        <a class="btn btn-primary col-md-10" asp-controller="Home" asp-action="CreateDownload">
                            Create Download
                        </a>
                    </th>
                </tr>
                <tr ng-repeat="item in downloads">
                    <td ng-click="DownloadDetail(item.course, item.id)" style="color:blue; cursor: pointer">
                        {{item.id}}</td>
                    <td>{{item.course}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.lesson}}</td>
                    <td>{{item.item}}</td>
                    <td>{{item.desc}}</td>
                    <td>{{item.link}}</td>
                </tr>
            </table>
        </div>

        <form enctype="multipart/form-data" asp-controller="home" asp-action="EditDownload" method="post">
            <div ng-show="downloadDetail" ng-repeat="item in downloads">
                <div>===================================================================</div>

                <h2 asp-for="Id">Edit Entry with Id: {{item.id}}</h2>
                <input hidden ng-model="item.id" asp-for="Id" />                

                 <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Course: </label>
                    <input ng-model="item.course" value="{{item.course}}" 
                        asp-for="Course" class="col-md-10" style="width: 300px" />
                </div>

                <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Unit: </label>
                    <input ng-model="item.unit" value="{{item.unit}}" 
                        asp-for="Unit" class="col-md-10" style="width: 300px" />
                </div>

                <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Lesson: </label>
                    <input ng-model="item.lesson" value="{{item.lesson}}" class="col-md-10"
                        asp-for="Lesson" style="width: 300px" />
                </div>

                <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Item: </label>
                    <input ng-model="item.item" value="{{item.item}}" class="col-md-10" 
                    asp-for="Item" style="width: 300px" />
                </div>

                <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Description: </label>
                    <input ng-model="item.desc" value="{{item.desc}}" class="col-md-10" 
                    asp-for="Desc" style="width: 300px" />
                </div>

                <div>
                    <label style="font-weight: bold" class="col-md-2 mt-4">Link: </label>
                    <input ng-model="item.link" value="{{item.link}}" class="col-md-10"
                    asp-for="Link" style="width: 300px" />
                </div>

                <label style="font-weight: bold" class="col-md-2"></label>
                <input ng-click="init_downloads(item.course)" style="width: 70px"
                    class="col-md-2 btn btn-primary mt-2" value="Cancel">
                <input type="submit" style="width: 50px" class="col-md-2 btn btn-primary mt-2" value="Save">

            </div>
        </form>
        <br /><br />
    </div>
</div>