@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div ng-controller="drop" data-ng-init="init_page()">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <img src="~/images/Bruce14.jpg" class="img-fluid" />
            </div>

            <div class="col-sm-9">
                <img src="~/images/Header.gif" class="img-fluid" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <img src="~/images/BibleWhite1.jpg" class="img-fluid" />
            </div>
        </div>

        <div class="row">
            <blockquote>
                <dt>Welcome to a website devoted to your biblical education.
                    Please take a moment to poke around! We hope you
                    will find something of interest!</dt>
            </blockquote>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
